button {
    font-family: inherit;
    font-size: inherit;
    background: none;
    border: none;
    background-color: skyblue;
    padding: 0.7rem;
    margin-inline-start: 0.5rem;
    border-radius: 1rem;
}

.note {
    color: grey;
    padding-top: 5px;
    font-size: 15px;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}