# 1. THE #1 GOLDEN RULE: Never upload node_modules!
node_modules/

# 2. THE #2 SECURITY RULE: Never upload secret API keys or passwords!
.env

# 3. Logs & Temporary Debug Files
*.log
npm-debug.log*

# 4. OS Garbage files
.DS_Store
Thumbs.db